/*.workforce1 {
    bottom: -8%;
    left: 24%;
}
    .workforce1 h2 {
        text-align: justify;
        font-size: 69px;
    }*/
/*.workforce2 {
    bottom: 25% !important;
    left: 5%;
}
    .workforce2 h4 {
        width: 46%;
        font-size: 45px;
        line-height: 1.2;
    }*/

/*.workforce3 .p-workforce {
    font-size: 45px;
    line-height: 1.2;
}
.workforce3 .p-workforce2 {
    font-size: 27px;
    line-height: 1.3;
}
.workforce4 p {
    font-size: 27px;
    line-height: 1.2;
    width: 90%;
}
.workforce5 h4 {
        width: 100%;
        font-weight: 400 !important;
        font-size: 45px;
    }*/